body {
    margin: 0;
    min-height: 100vh;
    background-image: url("../imges/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

font-family: Arial, Helvetica, sans-serif;
}

.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.line {
    width: 500px;
    max-width: 80%;
    height: 2px;
    background: white;
    margin: 20px 0;
}

h1 {
    margin: 15px 0;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 3px;
}

p {
    margin: 5px 0;
    font-size: 1.4rem;
}
