body {
    margin: 0;
    min-height: 100vh;
    background-image: url("../imges/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

font-family: 'Lato', sans-serif;
}

.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.line {
    width: 900px;
    max-width: 80%;
    height: 4px;
    background: white;
    margin: 20px 0;
}

h1 {
    margin: 15px 0;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p {
    margin: 5px 0;
    font-size: 2rem;
    font-weight: 300
}
/* Add the button styles below this point */

.cv-button {
    margin-top: 35px;
    padding: 14px 45px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.cv-button:hover {
    background-color: white;
    color: black;
}
